.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.blank-row {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.blank-row-bottom {
  border-bottom: 1px solid white;
}

th, td {
  padding: 15px;
  text-align: center;
}

.fa-dumbbell {
  color: rgba(255, 38, 0, 0.856);
}

.fa-hiking {
  color: rgb(58, 151, 3);
}

.fa-bed {
  color: rgb(29, 21, 143);
}

.fa-trophy {
  color: orange;
}